<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

	<!-- Used to set the device's ringtone -->
	<uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
	<!-- Used to prevent interrupting of the playback by battery optimization -->
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<!-- Used for caching, creating new playlists and deleting tracks -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
	<!-- Used to download images -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allows Apollo to read from External Storage -->
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
	<!-- Allows Apollo to stay in the foreground -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<!-- Used to create launcher shortcuts -->
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" tools:ignore="FullScreenIntentPolicy" />
	<!-- remove unused permission -->
	<uses-permission android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" tools:node="remove" />
	<!-- Attribution declaration for the MediaPlayer -->
	<attribution android:tag="audio_playback" android:label="@string/description" />

	<application
		android:name="org.nuclearfog.apollo.ApolloApplication"
		android:allowBackup="false"
		android:fullBackupContent="false"
		android:dataExtractionRules="@xml/extraction_rules"
		android:allowTaskReparenting="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:taskAffinity="${applicationId}.task"
		android:supportsRtl="true"
		android:theme="@style/Apollo.Theme.Dark">

		<!-- provider to share music files -->
		<provider
			android:name="androidx.core.content.FileProvider"
			android:grantUriPermissions="true"
			android:exported="false"
			android:authorities="${applicationId}">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

		<!-- Searchable -->
		<meta-data
			android:name="android.app.default_searchable"
			android:value=".ui.activities.SearchActivity" />

		<!-- Base activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.ActivityBase" />

		<!-- Main activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.HomeActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:clearTaskOnLaunch="false"
			android:windowSoftInputMode="adjustPan"
			android:configChanges="keyboardHidden">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.MUSIC_PLAYER" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.APP_MUSIC" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

		<!-- Audio Player -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.AudioPlayerActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:clearTaskOnLaunch="false"
			android:windowSoftInputMode="adjustPan">

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="content" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="application/ogg" />
				<data android:mimeType="application/x-ogg" />
				<data android:mimeType="application/itunes" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="application/ogg" />
				<data android:mimeType="application/x-ogg" />
				<data android:mimeType="application/itunes" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="application/ogg" />
				<data android:mimeType="application/x-ogg" />
				<data android:mimeType="application/itunes" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/playlist" />
				<data android:mimeType="vnd.android.cursor.dir/albums" />
				<data android:mimeType="vnd.android.cursor.dir/artists" />
			</intent-filter>

			<intent-filter>
				<action android:name="${applicationId}.AUDIO_PLAYER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.OPENABLE" />
				<data android:mimeType="vnd.android.cursor.dir/audio" />
			</intent-filter>
		</activity>

		<!-- Profile phone Activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.ProfileActivity"
			android:excludeFromRecents="true" />

		<!-- Audio FX Activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.AudioFxActivity"
			android:excludeFromRecents="true" />

		<!-- Shortcut launcher Activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.ShortcutActivity"
			android:excludeFromRecents="true"
			android:exported="true"
			android:theme="@style/Theme.Transparent">

			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

		<!-- Search interface -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.SearchActivity"
			android:exported="true"
			android:configChanges="keyboardHidden">

			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<action android:name="android.intent.action.MEDIA_SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<!-- Used to set options -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.SettingsActivity"
			android:label="@string/menu_settings" />

		<!-- Themes Activity -->
		<activity
			android:name="org.nuclearfog.apollo.ui.activities.ThemesActivity"
			android:excludeFromRecents="true" />

		<!-- 4x1 App Widget -->
		<receiver
			android:name="org.nuclearfog.apollo.ui.widgets.AppWidgetSmall"
			android:exported="false"
			android:label="@string/app_widget_small">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_small" />
		</receiver>

		<!-- 4x2  App Widget -->
		<receiver
			android:name="org.nuclearfog.apollo.ui.widgets.AppWidgetLarge"
			android:exported="false"
			android:label="@string/app_widget_large">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_large" />
		</receiver>

		<!-- 4x2 alternate App Widget -->
		<receiver
			android:name="org.nuclearfog.apollo.ui.widgets.AppWidgetLargeAlt"
			android:exported="false"
			android:label="@string/app_widget_large_alt">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_large_alt" />
		</receiver>

		<!-- Resizable recently listened App Widget -->
		<receiver
			android:name="org.nuclearfog.apollo.ui.widgets.AppWidgetRecent"
			android:exported="false"
			android:label="@string/app_widget_recent">

			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/app_widget_recents" />
		</receiver>

		<!-- The service serving the RemoteViews to the recently listened App Widget -->
		<service
			android:name="org.nuclearfog.apollo.service.RecentWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />

		<!-- Music service -->
		<service
			android:name="org.nuclearfog.apollo.service.MusicPlaybackService"
			android:label="@string/app_name"
			android:process=":music"
			android:foregroundServiceType="mediaPlayback">
		</service>

	</application>

</manifest>